.head{
    background: #f4c162;
    background: #28590c;
    background: #97be11;
    background: #fbfceb;
    background: #ffa820;
    background: #dc1e0b;
    background: rgb(233, 161, 26);
}

/* firebase : 10.7.1 */